div.App {
	padding: 5vw;
	width: 90vw;

	textarea {
		font-family: 'Source Sans Pro', Calibri, sans-serif;
		font-weight: normal;
		font-size: 15px;
		height: 100px;
		border: 2px solid gray;
		width: 100%;
		resize: none;
	}
}
