// Ordered in ascending priority
$colors: (
				('gray', #e8e8e8),
				('purple', #e6b3f9),
				('blue', #91d9f1),
				('green', #aeee72),
				('red', #f8a3a2),
);

$zIndex: 0;
$activeZIndex: 10000;

div.Document {
	word-wrap: break-word;
	line-height: 40px;

	span {
		padding: 6px 4px;
		position: relative;
	}

	span.highlight {
		transition: all 0.1s linear;
		cursor: pointer;

		&.extra-right {
			padding-right: 8px;
			margin-right: -5px;
		}

		&.extra-left {
			padding-left: 8px;
			margin-left: -5px;
		}

		@each $name, $hex in $colors {
			$zIndex: $zIndex + 1;
			$activeZIndex: $activeZIndex + 1;

			&.#{$name}-left {
				z-index: $zIndex;
				background: #{$hex};
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}

			&.#{$name}-mid {
				z-index: $zIndex;
				background: #{$hex};
				border-radius: 0;
			}

			&.#{$name}-right {
				z-index: $zIndex !important;
				background: #{$hex};
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}

			&.#{$name}-left-active {
				z-index: $activeZIndex !important;
				background: darken($hex, 10%) !important;
				color: white !important;
				border-top-left-radius: 6px !important;
				border-bottom-left-radius: 6px !important;
			}

			&.#{$name}-mid-active {
				z-index: $activeZIndex !important;
				background: darken($hex, 10%) !important;
				color: white !important;
				border-radius: 0 !important;
			}

			&.#{$name}-right-active {
				z-index: $activeZIndex !important;
				background: darken($hex, 10%) !important;
				color: white !important;
				border-top-right-radius: 6px !important;
				border-bottom-right-radius: 6px !important;
			}
		}
	}
}
