$colors: (
				('gray', #e8e8e8),
				('purple', #e6b3f9),
				('blue', #91d9f1),
				('green', #aeee72),
				('red', #f8a3a2),
);

div.Document {
	word-wrap: break-word;
	line-height: 40px;

	span {
		padding: 6px;
		padding-right: 9px;
		margin-right: -6px;
		position: relative;
		line-height: 20px;
	}

	@each $className, $color in $colors {
		span.highlight.#{$className}-left {
			background: #{$color};
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		span.highlight.#{$className}-mid {
			background: #{$color};
			border-radius: 0;
		}

		span.highlight.#{$className}-right {
			z-index: 2;
			background: #{$color};
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			padding-right: 6px;
			margin-right: -3px;
		}

		.last + .#{$color}-last {
			z-index: 2;
		}

		span.highlight.#{$className}-left-active {
			background: #{$color} !important;
			border-top-left-radius: 6px !important;
			border-bottom-left-radius: 6px !important;
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		span.highlight.#{$className}-mid-active {
			background: #{$color} !important;
			border-radius: 0 !important;
		}

		span.highlight.#{$className}-right-active {
			background: #{$color} !important;
			border-top-right-radius: 6px !important;
			border-bottom-right-radius: 6px !important;
			padding-right: 6px !important;
			margin-right: -3px !important;
		}

		.last + .#{$color}-last-active {
			z-index: 2 !important;
		}
	}
}
