@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Source Sans Pro', Calibri, sans-serif;
	font-weight: normal;
	margin: 0;
}
